@import '../../scss/vars';
$value: 25vw;
$cube-size: 2em;
$rotate-speed: 40s;


$head-size: 4em;
$head-height: calc($head-size / 15);

$frame-size: 4em;
$frame-height: calc($frame-size / 2.25);

$leg-size: .25em;
$leg-height: calc($frame-size / 5.25);

$border-size: .05em;
$border-height: calc($frame-size / 10);

$border-side-size: 6em;
$border-side-height: calc($border-side-size / 150);

$floor-size: 6em;
$floor-height: calc($floor-size / 24);

.house {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 6vw;

	.controls {
		position: absolute;
		left: -45vw;
		top: -10vw;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		color: #fff;
		font-size: 20px;
		z-index: 100;

		.key {
			position: relative;
			width: 30px;
			height: 30px;
			margin: 10px;
			border: 2px solid #f1f1f1;
			border-radius: 8px;
			cursor: pointer;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;

			transform: rotate(calc(90deg * var(--i)));

		}
	}

	.wrap {
		display: flex;
		margin: 20vw 0;
		perspective: 10em;
		perspective-origin: 50% calc(50% - 2em);
	}

	.scene {
		position: relative;
		transform-style: preserve-3d;
		transform: rotateY(-45deg) rotateX(-10deg) rotateZ(10deg);
		transition: transform .3s linear;
	}

	.head {
		width: $head-size;
		height: $head-size;

		position: absolute;
		top: calc(-1.5em + 1px);
		left: -1em;
		transform: translate(-50%, -50%) translateZ(-1em) rotateX(90deg);
		transform-style: preserve-3d;

		.side-front,
		.side-back,
		.side-left,
		.side-right,
		.side-top {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: $head-height;
			background-color: $build-color;
		}

		.side-front {
			transform: rotateZ(90deg * 0) rotateX(90deg) translateZ(-3.60em) translateY(calc($head-height / 2)) translateX(0);
			box-shadow: 0em 0em .5em #000a inset;

			position: relative;
			transform-style: preserve-3d;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: calc(100% + 1px);
				background-color: $build-color;
				transform: translateZ(-.1px);
			}
		}

		.side-back {
			transform: rotateZ(90deg * 0) rotateX(90deg) translateZ(calc($head-height / 2)) translateY(calc($head-height / 2)) translateX(0);
		}

		.side-left {
			transform: rotateZ(90deg) rotateX(90deg) translateZ(calc($head-size / 2)) translateY(calc($head-height / 2)) translateX(calc($head-size / 2 - $head-height / 2));
			box-shadow: 0em 0em .5em #000a inset;

			position: relative;
			transform-style: preserve-3d;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: calc(100% + 1px);
				background-color: $build-color;
				transform: translateZ(.1px);
			}
		}

		.side-right {
			transform: rotateZ(90deg) rotateX(90deg) translateZ(calc($head-size / -2)) translateY(calc($head-height / 2)) translateX(calc($head-size / 2 - $head-height / 2));
		}

		.side-top {
			transform: rotateZ(90deg * 0) rotateX(90deg) translateZ(calc($head-size / -2)) translateY(calc($head-height / 2)) translateX(0);
		}
		.side-bottom {
			display: none;
		}
	}

	.frame {
		width: $frame-size;
		height: $frame-size;

		position: absolute;
		top: -1.50em;
		left: -1em;
		transform: translate(-50%, -50%) translateZ(-1em) rotateX(90deg);
		transform-style: preserve-3d;

		.side-front,
		.side-back,
		.side-left,
		.side-right {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: $frame-height;
			background-color: $build-color;
		}

		.side-front {
			transform: rotateZ(90deg * 0) rotateX(90deg) translateZ(calc(($frame-size - $frame-height / 2) * -1)) translateY(calc($frame-height / -2)) translateX(0);
		}

		.side-back {
			transform: rotateZ(90deg * 0) rotateX(90deg) translateZ(calc($frame-height / 2)) translateY(calc($frame-height / -2)) translateX(0);
		}

		.side-left {
			transform: rotateZ(90deg) rotateX(90deg) translateZ(calc($frame-size / 2)) translateY(calc($frame-height / -2)) translateX(calc($frame-size / 2 - $frame-height / 2));
			border: .25em solid $build-color;
			border-bottom: none;
			background-color: rgba(54, 52, 54, 0.5);
		}

		.side-right {
			transform: rotateZ(90deg) rotateX(90deg) translateZ(calc($frame-size / -2)) translateY(calc($frame-height / -2)) translateX(calc($frame-size / 2 - $frame-height / 2));
		}

		.side-top {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: $build-color-top;
			box-shadow: -.15em -.15em .25em #000a inset;
		}

		.side-bottom {
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: 0;
			background-color: $build-color-bottom;

			transform: translateZ(calc($frame-height * -1));
		}
	}

	.leg {
		width: $leg-size;
		height: $leg-size;
		position: absolute;
		top: 0.28em;

		transform-style: preserve-3d;

		&.front {
			transform: translate(-50%, -50%) translateZ(.75em) rotateX(90deg);

			&--1 {
				left: -2.75em;

				.side-front {
					box-shadow: 0em -.075em .04em #000a inset;
				}

				.side-left {
					box-shadow: .1em -.1em .2em #000a inset;
				}

				.side-back {
					box-shadow: 0em -.1em .2em #000a inset;
				}

				.side-right {
					box-shadow: 0em -.1em .2em #000a inset;
				}
				
			}
			&--2 {
				left: calc(-2.75em - (-2.75em / 2.9));
				.side-left {
					box-shadow: .1em -.1em .2em #000a inset;
				}
				.side-right {
					box-shadow: .1em -.1em .2em #000a inset;
				}
				.side-back {
					box-shadow: 0em -.1em .2em #000a inset;
				}
				.side-front {
					box-shadow: 0em -.075em .04em #000a inset;
				}
			}
			&--3 {
				left: calc(-2.75em - (-2.75em / 1.1));
				.side-left {
					box-shadow: .1em -.1em .2em #000a inset;
				}
				.side-right {
					box-shadow: .1em -.1em .2em #000a inset;
				}
				.side-back {
					box-shadow: 0em -.1em .2em #000a inset;
				}
				.side-front {
					box-shadow: 0em -.075em .04em #000a inset;
				}
			}
			&--4 {
				left: calc(0.75em);
				.side-right {
					box-shadow: .1em -.1em .2em #000a inset;
				}
				.side-back {
					box-shadow: .1em -.1em .2em #000a inset;
				}
				.side-front {
					box-shadow: 0em -.075em .04em #000a inset;
				}
				.side-left {
					box-shadow: 0em -.075em .04em #000a inset;
				}
			}
		}

		&.back {
			transform: translate(-50%, -50%) translateZ(-2.75em) rotateX(90deg);

			&--1 {
				left: -2.75em;
				&>* {
					box-shadow: 0em -.1em .2em #000a inset;
				}
				
			}
			&--2 {
				left: calc(-2.75em - (-2.75em / 2.9));
				&>* {
					box-shadow: 0em -.1em .2em #000a inset;
				}
			}
			&--3 {
				left: calc(-2.75em - (-2.75em / 1.1));
				&>* {
					box-shadow: 0em -.1em .2em #000a inset;
				}
			}
			&--4 {
				left: calc(0.75em);
				.side-front {
					box-shadow: .1em -.1em .2em #000a inset;
				}
				.side-back {
					box-shadow: 0em -.1em .2em #000a inset;
				}
				.side-right {
					box-shadow: 0em -.1em .2em #000a inset;
				}
				.side-left {
					box-shadow: 0em -.075em .04em #000a inset;
				}
			}
		}

		&.left {
			left: 0.75em;
			
			&--1 {
				transform: translate(-50%, -50%) translateZ(-0.25em) rotateX(90deg);
				.side-left {
					box-shadow: 0em -.075em .04em #000a inset;
				}
				.side-front {
					box-shadow: .1em -.1em .2em #000a inset;
				}
				.side-back {
					box-shadow: 0em -.1em .2em #000a inset;
				}
				.side-right {
					box-shadow: 0em -.1em .2em #000a inset;
				}
				
			}

			&--2 {
				transform: translate(-50%, -50%) translateZ(-1.75em) rotateX(90deg);
				.side-front {
					box-shadow: .1em -.1em .2em #000a inset;
				}
				.side-back {
					box-shadow: 0em -.1em .2em #000a inset;
				}
				.side-right {
					box-shadow: 0em -.1em .2em #000a inset;
				}
				.side-left {
					box-shadow: 0em -.075em .04em #000a inset;
				}
			}
			
		}
		&.right {
			left: -2.75em;

	
			&--1 {
				transform: translate(-50%, -50%) translateZ(-0.25em) rotateX(90deg);
				&>* {
					box-shadow: 0em -.1em .2em #000a inset;
				}
			}

			&--2 {
				transform: translate(-50%, -50%) translateZ(-1.75em) rotateX(90deg);
				&>* {
					box-shadow: 0em -.1em .2em #000a inset;
				}
			}
		}
		
		// &:nth-child(3) {
		// 	left: 0.75em;
		// 	transform: translate(-50%, -50%) translateZ(-2.75em) rotateX(90deg);
		// }
		
		// &:nth-child(5) {
		// 	left: 1.75em;
		// 	transform: translate(-50%, -50%) translateZ(.75em) rotateX(90deg);
		// }
		// &:nth-child(6) {
		// 	left: 2.75em;
		// 	transform: translate(-50%, -50%) translateZ(.75em) rotateX(90deg);
		// }
		// &:nth-child(7) {
		// 	left: -0.25em;
		// 	transform: translate(-50%, -50%) translateZ(.75em) rotateX(90deg);
		// }

		// &:nth-child(4) {
		// 	left: 0.75em;
		// 	transform: translate(-50%, -50%) translateZ(.75em) rotateX(90deg);
		// }

		.side-front,
		.side-back,
		.side-left,
		.side-right {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: $leg-height;
			background-color: $build-color;
			// box-shadow: 0 .1em .2em #000a inset;
		}

		.side-front {
			transform: rotateZ(90deg * 0) rotateX(90deg) translateZ(calc(($leg-size - $leg-height / 2) * -1)) translateY(calc($leg-height / -2)) translateX(0);
		}

		.side-back {
			transform: rotateZ(90deg * 0) rotateX(90deg) translateZ(calc($leg-height / 2)) translateY(calc($leg-height / -2)) translateX(0);
		}

		.side-left {
			transform: rotateZ(90deg) rotateX(90deg) translateZ(calc($leg-size / 2)) translateY(calc($leg-height / -2)) translateX(calc($leg-size / 2 - $leg-height / 2));
		}

		.side-right {
			transform: rotateZ(90deg) rotateX(90deg) translateZ(calc($leg-size / -2)) translateY(calc($leg-height / -2)) translateX(calc($leg-size / 2 - $leg-height / 2));
		}

		.side-top {
			position: absolute;
			width: 100%;
			height: 100%;

			background-image: repeating-linear-gradient(90deg, #4c4a42 0%, #000 2%, #000 2%, #4c4a42 4%, #4c4a42 25%);
    		background-size: calc($leg-size / 6);
		}

		.side-bottom {
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: 0;
			background-color: blue;

			transform: translateZ(calc($leg-height * -1));
		}
	}

	.border {
		width: $border-size;
		height: $border-size;
		position: absolute;
		top: .6em;

		transform-style: preserve-3d;

		&.front {
			transform: translate(-50%, -50%) translateZ(2.97em) rotateX(90deg);

			&--1 {
				left: -2.97em;
			}
			&--2 {
				left: calc(-2.95em + 1.45em);
			}
			&--3 {
				left: calc(-2.75em + 1.45em * 2);
			}
			&--4 {
				left: calc(-2.75em + 1.45em * 3);
			}
			&--5 {
				left: 2.97em;
			}
		}

		&.back {
			transform: translate(-50%, -50%) translateZ(-2.97em) rotateX(90deg);

			&--1 {
				left: -2.97em;
			}
			&--2 {
				left: calc(-2.95em + 1.45em);
			}
			&--3 {
				left: calc(-2.75em + 1.45em * 2);
			}
			&--4 {
				left: calc(-2.75em + 1.45em * 3);
			}
			&--5 {
				left: 2.97em;
			}
		}

		&.left {
			left: 2.97em;
		
			&--1 {
				transform: translate(-50%, -50%) translateZ(calc(-2.75em + 1.45em)) rotateX(90deg);
			}

			&--2 {
				transform: translate(-50%, -50%) translateZ(calc(-2.75em + 1.45em * 2)) rotateX(90deg);
			}
			&--3 {
				transform: translate(-50%, -50%) translateZ(calc(-2.75em + 1.45em * 3)) rotateX(90deg);
			}
			
		}
		&.right {
			left: -2.97em;
	
			&--1 {
				transform: translate(-50%, -50%) translateZ(calc(-2.75em + 1.45em)) rotateX(90deg);
			}

			&--2 {
				transform: translate(-50%, -50%) translateZ(calc(-2.75em + 1.45em * 2)) rotateX(90deg);
			}
			&--3 {
				transform: translate(-50%, -50%) translateZ(calc(-2.75em + 1.45em * 3)) rotateX(90deg);
			}
		}
		

		.side-front,
		.side-back,
		.side-left,
		.side-right {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: $border-height;
			background-color: grey;
			// box-shadow: 0 .1em .2em #000a inset;
		}

		.side-front {
			transform: rotateZ(90deg * 0) rotateX(90deg) translateZ(calc(($border-size - $border-height / 2) * -1)) translateY(calc($border-height / -2)) translateX(0);
		}

		.side-back {
			transform: rotateZ(90deg * 0) rotateX(90deg) translateZ(calc($border-height / 2)) translateY(calc($border-height / -2)) translateX(0);
		}

		.side-left {
			transform: rotateZ(90deg) rotateX(90deg) translateZ(calc($border-size / 2)) translateY(calc($border-height / -2)) translateX(calc($border-size / 2 - $border-height / 2));
		}

		.side-right {
			transform: rotateZ(90deg) rotateX(90deg) translateZ(calc($border-size / -2)) translateY(calc($border-height / -2)) translateX(calc($border-size / 2 - $border-height / 2));
		}

		.side-top {
			position: absolute;
			width: 100%;
			height: 100%;

			background-image: repeating-linear-gradient(90deg, #4c4a42 0%, #000 2%, #000 2%, #4c4a42 4%, #4c4a42 25%);
    		background-size: calc($border-size / 6);
		}

		.side-bottom {
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: 0;
			background-color: blue;

			transform: translateZ(calc($border-height * -1));
		}
	}

	.border-side {
		width: $border-side-size;
		height: $border-side-size;
		position: absolute;
		top: .65em;
		transform: translate(-50%, -50%) rotateX(90deg);
		transform-style: preserve-3d;

		&--center {
			top: .75em;
		}
		&--bottom {
			top: .85em;
		}

		.side-top {
			position: relative;

			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 3.75em;
				height: 3.75em;
				background: #000;
				filter: blur(15px);
				opacity: .75;
			}
		}

		.side-front,
		.side-back,
		.side-left,
		.side-right {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: $border-side-height;
			background-color: grey;
		}

		.side-front {
			transform: rotateZ(90deg * 0) rotateX(90deg) translateZ(calc(($border-side-size - $border-side-height / 2) * -1)) translateY(calc($border-side-height / 2)) translateX(0);
		}

		.side-back {
			transform: rotateZ(90deg * 0) rotateX(90deg) translateZ(calc($border-side-height / 2)) translateY(calc($border-side-height / 2)) translateX(0);
		}

		.side-left {
			transform: rotateZ(90deg) rotateX(90deg) translateZ(calc($border-side-size / 2)) translateY(calc($border-side-height / 2)) translateX(calc($border-side-size / 2 - $border-side-height / 2));
		}

		.side-right {
			transform: rotateZ(90deg) rotateX(90deg) translateZ(calc($border-side-size / -2)) translateY(calc($border-side-height / 2)) translateX(calc($border-side-size / 2 - $border-side-height / 2));
		}

		.side-top, .side-bottom {
			display: none;
		}
	}

	.floor {
		width: $floor-size;
		height: $floor-size;
		position: absolute;
		top: 1em;
		transform: translate(-50%, -50%) rotateX(90deg);
		transform-style: preserve-3d;

		.side-top {
			position: relative;

			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 3.75em;
				height: 3.75em;
				background: #000;
				filter: blur(15px);
				opacity: .75;
			}
		}

		.side-front,
		.side-back,
		.side-left,
		.side-right {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: $floor-height;
			background-color: $floor-color-main;
			box-shadow: 0 .1em .2em #000a inset;
		}

		.side-front {
			transform: rotateZ(90deg * 0) rotateX(90deg) translateZ(calc(($floor-size - $floor-height / 2) * -1)) translateY(calc($floor-height / -2)) translateX(0);
		}

		.side-back {
			transform: rotateZ(90deg * 0) rotateX(90deg) translateZ(calc($floor-height / 2)) translateY(calc($floor-height / -2)) translateX(0);
		}

		.side-left {
			transform: rotateZ(90deg) rotateX(90deg) translateZ(calc($floor-size / 2)) translateY(calc($floor-height / -2)) translateX(calc($floor-size / 2 - $floor-height / 2));
		}

		.side-right {
			transform: rotateZ(90deg) rotateX(90deg) translateZ(calc($floor-size / -2)) translateY(calc($floor-height / -2)) translateX(calc($floor-size / 2 - $floor-height / 2));
		}

		.side-top {
			position: absolute;
			width: 100%;
			height: 100%;

			background-image: repeating-linear-gradient(90deg, #4c4a42 0%, #000 2%, #000 2%, #4c4a42 4%, #4c4a42 25%);
    		background-size: calc($floor-size / 6);
		}

		.side-bottom {
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: 0;
			background-color: $floor-color-main;

			transform: translateZ(calc($floor-height * -1));
		}
	}

}



@include maxW($md) {
	.key {
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 448 512'%3E%3Cpath d='M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z'/%3E%3C/svg%3E") center / cover no-repeat;

		&--refresh {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M496 48V192c0 17.69-14.31 32-32 32H320c-17.69 0-32-14.31-32-32s14.31-32 32-32h63.39c-29.97-39.7-77.25-63.78-127.6-63.78C167.7 96.22 96 167.9 96 256s71.69 159.8 159.8 159.8c34.88 0 68.03-11.03 95.88-31.94c14.22-10.53 34.22-7.75 44.81 6.375c10.59 14.16 7.75 34.22-6.375 44.81c-39.03 29.28-85.36 44.86-134.2 44.86C132.5 479.9 32 379.4 32 256s100.5-223.9 223.9-223.9c69.15 0 134 32.47 176.1 86.12V48c0-17.69 14.31-32 32-32S496 30.31 496 48z'/%3E%3C/svg%3E");
		}
	}
}