section.cube-and-sphere
	.wrap
		.controls 
			.title Press
				br/ for moving
			.key-box
				.key(style=`--i:0;`).js-top-btn.hide-full
				.key.hide-to-full W
			.key-box
				.key(style=`--i:1;`).js-right-btn.hide-full
				.key.hide-to-full D
			.key-box
				.key(style=`--i:3;`).js-left-btn.hide-full
				.key.hide-to-full A
			.key-box
				.key(style=`--i:2;`).js-bottom-btn.hide-full
				.key.hide-to-full S
			.key-box
				.key.key--refresh.js-refresh-btn.hide-full
				.key.hide-to-full R
			
		.scene.js-rotate
			.floor 
			.cube
				.front
				.back
				.left 
				.right 
				.top
					.sphere-shadow
				.bottom
			.sphere
	.wrap
		.scene.animation
			.floor 
			.cube.animation
				.front
				.back
				.left 
				.right 
				.top.animation
					.sphere-shadow.animation
				.bottom
			.sphere.animation
	.wrap
		.scene
			.floor 
			.cube
				.front
				.back
				.left 
				.right 
				.top
					.sphere-shadow
				.bottom
			.sphere