section.cube-and-sphere
	.wrap
		.scene#mouseRotate
			.floor 
			.cube
				.front
				.back
				.left 
				.right 
				.top
					.sphere-shadow
				.bottom
			.sphere
	.wrap
		.scene.animation
			.floor 
			.cube.animation
				.front
				.back
				.left 
				.right 
				.top.animation
					.sphere-shadow.animation
				.bottom
			.sphere.animation
	.wrap
		.scene
			.floor 
			.cube
				.front
				.back
				.left 
				.right 
				.top
					.sphere-shadow
				.bottom
			.sphere