section.cubes
	.cubes__box
		.cube#mouseRotate
			.top
			.ribs
				span(style='--i:0;')
				span(style='--i:1;')
				span(style='--i:2;')
				span(style='--i:3;')
	.cubes__box
		.cube.animation
			.top
			.ribs
				span(style='--i:0;')
				span(style='--i:1;')
				span(style='--i:2;')
				span(style='--i:3;')
	.cubes__box
		.cube
			.top
			.ribs
				span(style='--i:0;')
				span(style='--i:1;')
				span(style='--i:2;')
				span(style='--i:3;')
		